body{
    background-color: rgba(0, 0, 0, 0.89);
    color: #ACD373;
    font-weight: bold;
    font-size: 1.2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main{
    background-color: rgba(85, 85, 85, 0.616);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
.title{
    text-align: center;
}
.btn{
    background-color: #ACD373;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background-color: #94b463;
}
.result{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
input[type='number']{
    width: 50px;
}